<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Run marks" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Run marks</h1>
  <%= link_to "New run mark", new_run_mark_path, class: "btn btn--primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Pace</th>
    </tr>
  </thead>
  <tbody>
    <% @run_marks.each do |run_mark| %>
      <div class="flex flex-col items-start gap">
        <tr>
          <th><%= link_to run_mark.full_name, run_mark %></th>
          <td><%= run_mark.date %></td>
          <td><%= decorated_distance_for(run_mark.distance) %></td>
          <td><%= decorated_time_for(run_mark.time) %></td>
          <td><%= decorated_time_for(run_mark.pace) %></td>
        </tr>
      </div>
    <% end %>
</table>
