<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Races" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Races</h1>
  <%= link_to "New race", new_race_path, class: "btn btn--primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Distance</th>
      <th>Homologated</th>
      <th>Rans count</th>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| %>
      <div class="flex flex-col items-start gap">
        <tr>
          <th><%= link_to race.name, race %></th>
          <td><%= decorated_distance_for(race.distance) %></td>
          <td><div class="badge <%= "badge--positive" if race.homologated? %>"><%= race.homologated? %></div></td>
          <td><%= race.rans.count %></td>
        </tr>
      </div>
    <% end %>
</table>
