<div id="<%= dom_id ran %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Date:</h4>
    <p class="leading-none"><%= ran.date %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Distance:</h4>
    <p class="leading-none"><%= ran.distance %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Homologated:</h4>
    <p class="leading-none"><%= ran.homologated %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Time:</h4>
    <p class="leading-none"><%= ran.time %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Source:</h4>
    <p class="leading-none"><%= ran.source %></p>
  </div>
</div>
