<div id="<%= dom_id shoes %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Size:</h4>
    <p class="leading-none"><%= shoes.size %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Purchased at:</h4>
    <p class="leading-none"><%= shoes.purchased_at %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Distance:</h4>
    <p class="leading-none"><%= shoes.distance %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Price:</h4>
    <p class="leading-none"><%= shoes.price %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Retired at:</h4>
    <p class="leading-none"><%= shoes.retired_at %></p>
  </div>
</div>
