<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Shoes" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Shoes</h1>
  <%= link_to "New shoes", new_shoes_path, class: "btn btn--primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Shoes</th>
      <th>Purchased at</th>
      <th>Age</th>
      <th>Distance</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% @shoes.each do |shoes| %>
      <div class="flex flex-col items-start gap">
        <tr>
          <th><%= link_to shoes.full_name, shoes %></th>
          <td><%= shoes.purchased_at %></td>
          <td><%= distance_of_time_in_words(shoes.purchased_at, shoes.retired_at || Date.today) %></td>
          <td><%= shoes.distance_in_km %></td>
          <td><div class="badge <%= shoes.active? ? "badge--positive" : "badge--negative" %>"><%= shoes.active? ? "ACTIVE" : "RETIRED" %></div></td>
        </tr>
      </div>
    <% end %>
</table>
