<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<h1 class="font-bold text-3xl mbe-4"><%= @shoes.full_name %></h1>

<%= render @shoes %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this shoes", edit_shoes_path(@shoes), class: "btn" %>
  <%= link_to "Back to shoes", shoes_index_path, class: "btn" %>
  <%= button_to "Destroy this shoes", @shoes, method: :delete, class: "btn" %>
</div>

<div class="flex items-center justify-between mbe-4 mbs-4">
  <h1 class="font-bold text-4xl">Montly distances</h1>
  <%= link_to "New montly distance", new_shoes_montly_distance_path(@shoes), class: "btn btn--primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @shoes.montly_distances.ordered.each do |montly_distance| %>
      <div class="flex flex-col items-start gap">
        <tr>
          <th><%= link_to montly_distance.month.strftime("%B %Y"), montly_distance %></th>
          <td><%= distance_in_km(montly_distance.distance) %></td>
        </tr>
      </div>
    <% end %>
</table>
