<% content_for :title, "Stats" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Stats</h1>
</div>

<div class="flex-column items-center">
  <h2 class="font-bold text-2xl">Estimations</h2>
  <h2 class="font-bold text-1xl">Time and pace</h2>
  <ul>
    <% last_5k_time = RunMark.order(time: :asc).where(distance: 5.0).first.time %>
    <% last_5k_pace = RunMark.order(time: :asc).where(distance: 5.0).first.pace %>
    <% time_for_10k = (last_5k_time * 2.07).round %>
    <% time_for_21k = (time_for_10k * 2.2).round %>
    <% time_for_42k = (time_for_21k * 2.1).round %>

    <li>5K: <%= decorated_time_for(last_5k_time) %> | <%= decorated_time_for(last_5k_pace) %></li>
    <li>10K: <%= decorated_time_for(time_for_10k) %> | <%= decorated_time_for((time_for_10k / 10.0).round) %></li>
    <li>21K: <%= decorated_time_for(time_for_21k) %> | <%= decorated_time_for((time_for_21k / 21.097).round) %></li>
    <li>42K: <%= decorated_time_for(time_for_42k) %> | <%= decorated_time_for((time_for_42k / 42.195).round) %></li>
  </ul>
  <h2 class="font-bold text-1xl">Retirement of active shoes</h2>
  <ul>
    <% Shoes.active.each do |shoes| %>
      <% montly_distances = MontlyDistance.where(month: 6.months.ago..) %>
      <% average_distance_per_day = (montly_distances.sum(:distance) / montly_distances.size) / 30.0 %>
      <% remaining_days = ((MAX_KM_FOR_SHOES - shoes.distance) / average_distance_per_day).round %>

      <li><%= shoes.full_name %> will retire on <%= Date.today + remaining_days.days %></li>
    <% end %>
</div>

<% @stats.each do |distance, run_marks| %>
    <div class="flex items-center justify-between mbe-4">
      <h2 class="font-bold text-2xl">Top <%= decorated_distance_for(distance)%></h2>
    </div>
    <table class="table mbe-8">
    <thead>
        <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Pace</th>
        </tr>
    </thead>
    <tbody>
        <% run_marks.first(3).each do |run_mark| %>
        <div class="flex flex-col items-start gap">
            <tr>
            <th><%= link_to run_mark.full_name, run_mark %></th>
            <td><%= run_mark.date %></td>
            <td><%= decorated_time_for(run_mark.pace) %></td>
            </tr>
        </div>
        <% end %>
    </table>
<% end %>

<div class="relative i-full" style="block-size: 600px;">
  <%= tag.canvas aria: { label: "Paces" }, role: "img", data: { controller: "chart", chart_type_value: "line", chart_data_value: @chart_data.to_json } %>
</div>


