<% content_for :title, "Stats" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Stats</h1>
</div>

<div class="flex flex-wrap mb-4">
  <div class="card m-3">
    <div class="flex flex-col">
      <h3 class="font-semibold leading-none mbe-1">Estimations</h3>
      <p class="text-sm text-subtle">Estimated pace for next races</p>
    </div>
    <div class="flex flex-col gap mb-2">
      <div class="prose">
      <ul>
          <% last_5k_time = RunMark.order(time: :asc).where(distance: 5.0).first.time %>
          <% last_5k_pace = RunMark.order(time: :asc).where(distance: 5.0).first.pace %>
          <% time_for_10k = (last_5k_time * 2.07).round %>
          <% time_for_21k = (time_for_10k * 2.2).round %>
          <% time_for_42k = (time_for_21k * 2.1).round %>

          <li>5K: <%= decorated_time_for(last_5k_pace) %></li>
          <li>10K: <%= decorated_time_for((time_for_10k / 10.0).round) %></li>
          <li>21K: <%= decorated_time_for((time_for_21k / 21.097).round) %></li>
          <li>42K: <%= decorated_time_for((time_for_42k / 42.195).round) %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card m-3">
    <div class="flex flex-col">
      <h3 class="font-semibold leading-none mbe-1">Shoes</h3>
      <p class="text-sm text-subtle">Estimated date of retirement</p>
    </div>
    <div class="flex flex-col gap mb-2">
      <div class="prose">
        <ul>
          <% Shoes.active.each do |shoes| %>
            <li><%= shoes.full_name %>: <%= shoes.estimated_retired_at %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="card m-3">
    <h3 class="flex font-semibold leading-none mbe-1">Personal bests</h3>
    <p class="text-sm text-subtle mbe-3">Best paces on homologated races</p>
    <div class="flex flex-col gap-half">
      <% RunMark.best_homologated_common_distances.each do |run_mark| %>
        <%= link_to run_mark do %>
          <div class="pb-card-mark flex items-center justify-between border rounded-md pi-3 pb-1 bg-shade shadow-xs">
            <div class="flex items-end mie-5" style="color: <%= COMMON_RACE_DISTANCES[run_mark.distance.to_s][:colors][:dark]%>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-medal">
                <path d="M7.21 15 2.66 7.14a2 2 0 0 1 .13-2.2L4.4 2.8A2 2 0 0 1 6 2h12a2 2 0 0 1 1.6.8l1.6 2.14a2 2 0 0 1 .14 2.2L16.79 15"/>
                <path d="M11 12 5.12 2.2"/>
                <path d="m13 12 5.88-9.8"/>
                <path d="M8 7h8"/>
                <circle cx="12" cy="17" r="5"/><path d="M12 18v-2h-.5"/>
              </svg>
              <span class="text-xs"><%= decorated_distance_for(run_mark.distance) %></span>
            </div>
            <span class="text-xl font-semibold"><%= decorated_time_for(run_mark.pace) %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="flex items-center justify-between mbe-4">
  <h2 class="font-bold text-2xl">Podiums</h2>
</div>
<% @stats.each do |distance, run_marks| %> 
    <table class="table mbe-4">
    <thead>
      <div class="flex items-center gap">
        <div class="font-semibold"><%= decorated_distance_for(distance) %></div>
      </div>  
    </thead>
    <tbody>
        <% run_marks.first(3).each do |run_mark| %>
        <div class="flex flex-col items-start gap">
            <tr>
            <th><%= link_to run_mark.full_name, run_mark %></th>
            <td><%= run_mark.date %></td>
            <td><%= decorated_time_for(run_mark.pace) %></td>
            </tr>
        </div>
        <% end %>
    </table>
<% end %>

<div class="relative i-full">
  <%= tag.canvas aria: { label: "Paces" }, role: "img", data: { controller: "chart", chart_type_value: "line", chart_data_value: @chart_data.to_json } %>
</div>

