<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Runtally" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="header-layout">
    <header id="header">
      <div class="container flex items-center justify-between">
        <div class="flex items-center">
          <h1 class="text-xl font-bold" style="font-family: var(--font-industrial)">// RUNTALLY</h1>
          <nav>
            <ul class="flex space-x-4 mis-8">
              <li><%= link_to 'Stats', root_path, class: "text-lg m-2" %></li>
              <li><%= link_to 'Races', races_path, class: "text-lg m-2" %></li>
              <li><%= link_to 'Run marks', run_marks_path, class: "text-lg m-2" %></li>
              <li><%= link_to 'Shoes', shoes_index_path, class: "text-lg m-2" %></li>
            </ul>
          </nav>
        </div>
        <div style="font-family: var(--font-industrial)">
          <div class="flex items-center gap" style="--column-gap: 1rem; block-size: 1.5rem;">
            <% RunMark.order(distance: :asc, time: :asc).group_by(&:distance).each do |distance, run_marks| %>
              <div>
                <span class="font-normal text-sm"><%= "#{decorated_distance_for(distance)}:" %></span>
                <span class="font-bold text-xl"><%= link_to decorated_time_for(run_marks.first.pace), run_marks.first %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main id="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
